{{ title }}

{{ getValue() }}

{{ 2*2 }}

{{ title=="Viknashu chahu" }}
{{ value }}

 
 

 

<button  (click)="getCount(1)">click me</button>
<h1 *ngStyle="{color:'red'}">value is {{ inputValue }}</h1> 
<br>
<input type="text" name="name" #name (blur)="blurFunction(name.value)" placeholder="enter the name" /><br>
<input type="text" name="name" #name1 (keypress)="blurFunction(name1.value)" placeholder="enter the name" /><br>
<input type="text" name="name" #name2 (keyup)="blurFunction(name2.value)" placeholder="enter the name" /><br>
<input type="text" name="name" #name4 (input)="blurFunction(name4.value)" placeholder="enter the name" /><br>

<br><br> 
    <input type="text" name="name" placeholder="interpolation" value={{title}} disabled={{disable}}/>
 
<br><br>  
<input type="text" name="name" placeholder="property binding" [value]=title [disabled]=disable/>
<br><br>
<button (click)="blurFunction(name4.value)">get Value</button>


<div *ngIf="disable then ifBLock else elseBlock">
    
</div>
<ng-template #ifBLock>
    <h1>This is the if conditiion</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>This is else condition</h1>
</ng-template>

<ng-template [ngIf]="color==='yellow'">
    <h1 style="color:yellow">yellow</h1>
</ng-template>


<!-- multiple else if -->
<ng-template [ngIf]="color ==='green'">
    <h1  [style.color]="color">greeen</h1>
</ng-template>

<ng-template [ngIf]="color=='red'">
    <h1  [style.color]="color">red</h1>
</ng-template>


<!-- switch case -->

<h1>using switch</h1>
<div [ngSwitch]="color">
    <h1 style="color:red" *ngSwitchCase="'red'">red</h1>
    <h1 style="color:green" *ngSwitchCase="'green'">red</h1>
    <h1 style="color:blue" *ngSwitchCase="'blue'">red</h1> 
    <h1 style="color:blue" *ngSwitchDefault>jajjajaj</h1> 
</div>

<!-- 
for loop -->

<ul *ngFor="let name of student">
    <li>{{ name.name }}</li>
    <li>{{ name.course }}</li> 
    <ul *ngFor="let addres of name.address">
        <li>{{ addres.pincode }}</li>
        <li>{{ addres.post }}</li>
    </ul>
</ul>



 
<!-- form -->
<form #signupForm="ngForm" (submit)="formSubmitData(signupForm.value)">
    <input type="text" ngModel   name="userName" placeholder="enter your name" /><br><br>
    <input type="email" ngModel  name="userEmail" placeholder="enter your Email" /><br><br>
    <input type="password"   ngModel name="userPassword" placeholder="enter your password" /><br><br>
    <button>form submit</button>
</form>


<!-- toggle -->
<button (click)="toggleButton()">toggle</button>
<br>
<h1 *ngIf="toggle">This is toggle button</h1>

 